@tailwind base;
@tailwind components;
@tailwind utilities;

/* ALL */

body {
  background-color: #1c3738;
  color: #fafff8;
  border-color: #000f08;
}

/* DESC PROJECTS */
.desc-proj-img {
  opacity: 0.5;
  transition: opacity 1s, background 1s;
}

.desc-proj-img:hover {
  opacity: 1;
  transition: opacity 1s, background 1s;
}

.desc-proj-summary {
  background-color: #122525;
}

/* BOX PROJECTS */
.project-box {
  max-width: 15rem;
  height: 14rem;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  background-color: #fafff8;
  color: #1c3738;
}

.project-box:hover {
  top: -10px;
}

.box-tech {
  font-size: 0.6rem;
  background-color: #8baaad;
}
